@font-face {
    font-family: "Roboto";
    src: url(@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;488&display=swap');)
}
body{
    margin: 0%;
    padding: 0%;
}
h1{
    font-family: "Roboto", 'Open Sans', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 300;
}
h2{
    font-family: "Roboto", 'Open Sans', sans-serif;
    font-size: 28px;
    color: white;
    font-weight: 300;
}
h3{
    font-family: "roboto",'Open Sans', sans-serif;
    font-size: 24px;
    color: gray;
    font-weight: 300;
}
h4{
    font-size: 20px;
    font-family: "Roboto", 'Open Sans', sans-serif;
    color: gray;
    font-weight: 300;
    margin: 5px 50px;
}
h5{
    font-family: "Roboto", 'Open Sans', sans-serif;
    color: gray;
    font-weight: 300;
    font-size: 15px;
    margin: 20px 60px;
}
input[type="text"]{
    background-color: none ;
    border: 1px; 
    border-color: lightgrey;
    align-items: center;
    border-style: solid;
    border-radius: 7px;
    margin: 2px 50px;
}
input[type="button"]{
    color: white;
    font-size: 14px;
    font-family: "Roboto", 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: black;
    border-color: black;
    border-radius: 7px;
    align-items: center;
    margin: 2px 50px;
}
.Caixa-Geral{
    width: 100%;
    height: 680px;
}
.Caixa-Esquerda{
    background-color: white;
    width: 50%;
    height: 680px;
    float: left;
    align-items: center;
    text-align: center;
  
}
.Caixa-Direita{
    background-image: url(../Imagens/Fundo-Site.jpeg);
    background-position: center top;
    background-size: 100% auto;
    width: 50%;
    float: right;
    height: 680px;
    align-content: center;
}
.Texto-dir{
    text-align: center;
    margin: 40% 50px;
    
}
.Divisa{
    margin: 50px;
}
a{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: gray;
}
